.chat-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(56, 40, 47);
    height: 90%;
    width: 90%;
    margin: 5%;
    border-radius: 20px;
    padding: 0px 3px;
    box-shadow: 1px 1px 5px #0f0f0f !important;
}